.duck {
    position: absolute;
}

.gameScreen {
    //position: absolute;
    width: 900px;
    height: 506px;
    background: url("/imgs/background-mac.jpg")/* center no-repeat */;
    background-size:cover;
    text-align: center;
}

.gameOverScreen {
    //position: absolute;
    width: 900px;
    height: 506px;
    background: url("/imgs/background-xp.jpg")/* center no-repeat */;
    background-size:cover;
    text-align: center;
    
}

.gameOverH1 {
    padding: 70px 0;
    font-size: 150px;
    
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}