.duck {
    position: absolute;
}

.gameScreen {
    position: absolute;
    width: 1000px;
    height: 400px;
    background-color: white;
    background: url("/imgs/background-xp.jpg") center no-repeat;
    
}